<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"

	xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
      http://www.springframework.org/schema/jdbc
      http://www.springframework.org/schema/jdbc/spring-jdbc-4.2.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-4.2.xsd
      http://www.springframework.org/schema/security
      http://www.springframework.org/schema/security/spring-security-4.2.xsd">


	<bean id="TraacsRequestInvoiceProcessorID"
		name="TraacsRequestInvoiceProcessorBean"
		class="com.ebreez.etrcs.traacsRequestInvoice.TraacsRequestInvoiceProcessor" />

	<bean id="etrcsAppProperties" name="etrcsAppProperties"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="locations">
			<list value-type="org.springframework.core.io.Resource">
				<value>
					etrcs-product-types.properties
				</value>
				<value>
					traacs-application-${environment}.properties
				</value>
			</list>
		</property>
	</bean>
	<bean id="springExtractBookingNBuildRequestProcessorBeanId"
		name="springExtractBookingNBuildRequestProcessorBean"
		class="com.ebreez.etrcs.processor.ExtractBookingNBuildRequestProcessor" />
	<bean id="testClassId" class="com.shyam.service.testClass">
	</bean>


	<bean id="springBuildFailureFlyinCodeListBeanId"
		name="springBuildFailureFlyinCodeListBean"
		class="com.ebreez.etrcs.processor.FailureFlyinCodeListBuilder" />
	<bean id="springBuildMulticityNFCProcessorBeanId"
		name="springBuildMulticityNFCProcessorBean"
		class="com.ebreez.etrcs.processor.BuildMulticityNFCRequestProcessor"
		scope="singleton" />
	<bean id="springNullFlyinCodeListBuilderBeanId"
		name="springNullFlyinCodeListBuilderBean"
		class="com.ebreez.etrcs.processor.NullFlyinCodeListBuilder"
		scope="singleton" />
	<bean id="springExtractNBuildBookingStatusMapProcessorBeanId"
		name="springExtractNBuildBookingStatusMapProcessorBean"
		class="com.ebreez.etrcs.master.data.processor.ExtractNBuildBookingStatusMapProcessor" />
	<bean id="springExtractNBuildAirlinesMapProcessorBeanId"
		name="springExtractNBuildAirlinesMapProcessorBean"
		class="com.ebreez.etrcs.master.data.processor.ExtractNBuildAirlinesMapProcessor" />
	<bean id="springExtractNBuildCityMapProcessorBeanId"
		name="springExtractNBuildCityMapProcessorBean"
		class="com.ebreez.etrcs.master.data.processor.ExtractNBuildCityMapProcessor" />
	<bean id="springExtractNBuildSupplierMasterMapProcessorBeanId"
		name="springExtractNBuildSupplierMasterMapProcessorBean"
		class="com.ebreez.etrcs.master.data.processor.ExtractNBuildSupplierMasterMapProcessor" />

	<bean id="springBuildTraacsRequestProcessorBeanId"
		name="springBuildTraacsRequestProcessorBean"
		class="com.ebreez.etrcs.traacs.processor.BuildTraacsRequestProcessor"
		scope="singleton" />
	<bean id="springTraacsDBRequestBuilderBeanId"
		name="springTraacsDBRequestBuilderBean"
		class="com.ebreez.etrcs.traacs.db.processor.TraacsDBRequestBuilder"
		scope="singleton" />
	<bean id="springAuthenticationKeyMapperBeanId"
		name="springAuthenticationKeyMapperBean"
		class="com.ebreez.etrcs.traacs.processor.AuthenticationKeyMapper"
		scope="singleton" />
	<bean id="springTraacsResponseProcessorBeanId"
		name="springTraacsResponseProcessorBean"
		class="com.ebreez.etrcs.traacs.processor.TraacsResponseProcessor"
		scope="singleton" />
	<bean id="springTraacsRequestInvoiceProcessorBeanId"
		name="springTraacsRequestInvoiceProcessorBean"
		class="com.ebreez.etrcs.traacsRequestInvoice.TraacsRequestInvoiceProcessor"
		scope="singleton" />
	<bean id="TraacsFlightMapperFactoryBean"
		name="TraacsFlightMapperFactoryBean"
		class="com.ebreez.etrcs.traacs.mappers.TraacsMapperFactory">
		<property name="traacsMapperClass"
			value="com.ebreez.etrcs.traacs.mappers.TraacsFlightRequestMapper" />
	</bean>

	<bean id="TraacsHotelMapperFactoryBean"
		name="TraacsHotelMapperFactoryBean"
		class="com.ebreez.etrcs.traacs.mappers.TraacsMapperFactory">
		<property name="traacsMapperClass"
			value="com.ebreez.etrcs.traacs.mappers.TraacsHotelRequestMapper" />
	</bean>
	<bean id="TraacsMasterMapperFactoryBean"
		name="TraacsMasterMapperFactoryBean"
		class="com.ebreez.etrcs.traacs.mappers.TraacsMapperFactory">
		<property name="traacsMapperClass"
			value="com.ebreez.etrcs.traacs.mappers.TraacsMasterRequestMapper" />
	</bean>

	<bean id="TraacsRoeCaptureBeanIdEGP"
		name="TraacsRoeCaptureBeanEGP"
		class="com.ebreez.etrcs.traacs.roeCapture.TraacsRoeCaptureEGP" />
	<bean id="TraacsRoeCaptureBeanId" name="TraacsRoeCaptureBean"
		class="com.ebreez.etrcs.traacs.roeCapture.TraacsRoeCapture" />
</beans>

